.center {
  text-align: center;
}

#webring {
  background-color: white;
  border: 3px solid red;
  height: 100px;
}

#webring2 {
  border: 3px solid blue;
  height: 94px;
}

#webring3 {
  border: 3px solid black;
  color: red;
  height: 68px;
  padding: 10px;
}

.links > a {
  color: blue;
}

.smaller {
  font-size: 50%;
}

.red {
  color: red;
}

.green {
  color: green;
}